---
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/demo/ja" />

    <script is:inline>
      const language = window.navigator.language.split('-')[0];
      if (language === 'en') {
        window.location.pathname = '/demo/en';
      } else {
        window.location.pathname = '/demo/ja';
      }
    </script>
  </head>
  <body>
    <p>Redirecting...</p>
    <a href="/demo/ja">Click here if you are not redirected.</a>
  </body>
</html>
